body{
    background: linear-gradient(to right, #4b86b4, #2d4e70);
    color: white;
}

.top-bar {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    height: 20px;
  }
  
.brand {
  padding-left: 10px;
  font-weight: bold;
}

.brand a {
  text-decoration: none;
  color: black;
}

.top-links {
  margin-left: auto;
}

.top-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-links li {
  margin-right: 20px;
}

.top-links li:last-child {
  margin-right: 0;
}

.top-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.top-links a:hover {
  text-shadow: 1px 1px 1px gray;
}
  
/* set up the header area */
h1 {
  text-align: center;
  text-shadow: 0.05rem 0.1rem 0.05rem rgb(69, 68, 68);
}

h1 a {
    text-decoration: none;
    color: white;
}

.keyword_label_col {
  text-align: right;
}

.container-fluid {
  height: 100vh;
  width: auto;
}

#map {
  height: 100vh;
  border-radius: 2px;
}

.card {
  height: 100vh;
}

.header-row {
  background: linear-gradient(to right, #4b86b4, #597fa5);
  color: white;
}

#job_table td {
  word-wrap: break-word;
  padding: 0.5rem;
  text-align: center;
}

.link-row:hover {
  background: rgb(181, 180, 180);
}

#job_table a {
  color: black;
  text-decoration: none;
}

.row {
  margin-right: 0; margin-left: 0;
}

#job_table {
  width: 100%;
}


@media only screen and (max-width: 575px) {
  .keyword_label_col {
    text-align: left;
  }

  .bottom_keyword {
    margin-top: 0.5rem;
  }

  .container-fluid {
    height: 100vh;
  }
  
  #map {
    height: 50vh;
  }
  
  .card {
    height: 50vh;
  }
}