body{
    background-color: #C8B9B4;
    color: white;
}

/* set up the grid with three columns */
.main-content {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar map map";
}
  
/* set up the header area */
h1 {
grid-area: header;
text-align: center;
}

/* set up the sidebar area */
.sidebar {
grid-area: sidebar;
background-color: #d1c9c6;
padding: 20px;
height: 100vh;
}

/* set up the map area */
#map {
grid-area: map;
height: 100vh;
}

.keyword_input {
    margin-top: 10px;
}

#job_table {
    width: 100%;
    table-layout: fixed;
  }
  
#job_table td {
    word-wrap: break-word;
    max-width: 50%;
    padding: 0.5rem;
}

#job_table a {
    color: black;
    text-decoration: none;
}

.header-row {
    background-color: #C8B9B4;
    color: white;
}


/* #job_table {

} */

footer {
    background-color: #e2dad7;
}

/* media query for small screens */
@media only screen and (max-width: 767px) {
    body{
        background-color: #C8B9B4;
        color: white;
    }

    /* set up the header area */
    h1 {
        grid-area: header;
        text-align: center;
        font-size: 1rem;
        }

    h4 {
        font-size: 0.85rem;
    }

    /* set up the grid with one column */
    .main-content {
        font-size: 0.8rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
          "sidebar"
          "map";
    }

    /* set up the sidebar area for small screens */
    .sidebar {
        background-color: #C8B9B4;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "k_label k_input";
    }

    .keyword_label {
        grid-area: k_label;
        width: 30vw;
    }

    .keyword_class {
        grid-area: k_input;
        width: 48vw;
    }

    /* set up the map area */
    #map {
        grid-area: map;
        height: 60vh;
        width: 100vw;
        }

    footer {
        font-size: .8rem;
    }
}

/* media query for small screens */
@media only screen and (max-width: 327px) {
    body{
        background-color: #C8B9B4;
        color: white;
    }

    /* set up the grid with one column */
    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
          "sidebar"
          "map";
    }

    /* set up the sidebar area for small screens */
    .sidebar {
        background-color: #C8B9B4;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "k_label k_input";
    }

    .keyword_label {
        grid-area: k_label;
    }

    .keyword_class {
        grid-area: k_input;
    }

    /* set up the map area */
    #map {
        grid-area: map;
        height: 60vh;
        width: 100vw;
        }
}